$dark_hash: #404751;
$navy_blue: #0091c6;

$primary: 'blue';
$warn: #d71d37;
$gray: 'gray';
$green: rgb(41, 142, 15);
$yellow: 'yellow';

$light_black: #222222;
$light_gray: #525353;
$dark_gray: #3d3d3e;
$very_light_grey: #e7e8e8;
$bg-grey: #f7f8fa;
$label_font_grey: #adadad;

$font-extra-tiny: 10px;
$font-tiny: 12px;
$font-extra-small: 14px;
$font-small: 16px;
$font-semi-regular: 18px;
$font-regular: 20px;
$font-semi-medium: 24px;
$font-medium-30: 30px;
$font-medium: 32px;
$font-extra-medium: 36px;
$font-large-medium: 42px;
$font-large: 48px;
$font-extra-large: 60px;
