@import '~antd/dist/antd.css';
@import 'variables';
@import 'common';
@import 'atomic';
@import 'round-loader';
@import 'ant-design-override';

.main-layout {
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.todo__list__table {
	width: 75%;
	margin: 0 auto;
	background-color: #fbb478;

	tr {
		background-color: white;
		margin: 10px;
	}
}

.kanban {
	display: flex;
	justify-content: space-between;
	.kanban__group {
		width: 100%;
		margin: 5px;
		padding: 5px;
		background-color: #ccc;
		border-radius: 5px;

		.kanban__box {
			position: relative;
			width: 100%;
			padding: 10px;
			margin-bottom: 5px;
			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: #ffffff;

			&:last-child {
				margin-bottom: 0;
			}

			.kanban__box__actions {
				position: absolute;
				top: 0;
				right: 0;
				border-radius: 5px;
				opacity: 0;
			}

			&:hover {
				.kanban__box__actions {
					opacity: 1;
				}
			}

			.kanban__box__actions__delete {
				margin-right: 5px;
			}
		}
	}
}

.title-label {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}
