@import '~antd/dist/antd.css';
@import 'variables';
@import 'common';
@import 'atomic';
@import 'round-loader';
@import 'ant-design-override';

.main-layout {
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.todo__list__table {
	width: 75%;
	margin: 0 auto;
	background-color: #fbb478;

	tr {
		background-color: white;
		margin: 10px;
	}
}

.kanban {
	display: flex;
	justify-content: space-between;
	.kanban__group {
		width: 100%;
		margin: 5px;
		.kanban__box {
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
		}
	}
}
